version: 2
updates:
  - package-ecosystem: 'npm' # See documentation for possible values
    directory: '/' # Location of package manifests
    schedule:
      interval: 'daily'
    groups:
      minorpatch:
        patterns:
          - '*'
        update-types:
          - patch
          - minor
  - package-ecosystem: 'docker' # See documentation for possible values
    directory: '/' # Location of package manifests
    schedule:
      interval: 'daily'
    ignore:
      - dependency-name: 'node'
        update-types: ['version-update:semver-major']
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
